<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <pages pageBaseType="MobileControlLibrary.UI.MobilePage">
      <controls>
        <add assembly="MobileControlLibrary" namespace="MobileControlLibrary.UI" tagPrefix="mb"/>
        <add assembly="MobileControlLibrary" namespace="MobileControlLibrary.UI.Controls" tagPrefix="mb"/>
      </controls>
    </pages>
    <sessionState cookieless="AutoDetect"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
  </system.web>
</configuration>