<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="true" />
        <authentication mode="Windows" />
		<pages>
			<controls>
				<add assembly="ServerControl" namespace="ServerControl" tagPrefix="sc"/>
			</controls>
		</pages>
    </system.web>
</configuration>
