#EntryTag {
	MARGIN-TOP: 20px; FONT-SIZE: 9pt; COLOR: gray
}
#divRefreshComments {
	FONT-SIZE: 9pt; MARGIN-BOTTOM: 5px; MARGIN-RIGHT: 10px; TEXT-ALIGN: right
}
.topicListFooter {
	MARGIN-TOP: 10px; MARGIN-RIGHT: 10px; TEXT-ALIGN: right
}
 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 9pt; BACKGROUND: #fff; COLOR: #333; LINE-HEIGHT: 1.8em; FONT-FAMILY: "verdana","ו","Arial"
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	LIST-STYLE-TYPE: none
}
INPUT {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
H1 {
	FONT-WEIGHT: bold; COLOR: #000
}
H2 {
	FONT-WEIGHT: bold; COLOR: #000
}
H3 {
	FONT-WEIGHT: bold; COLOR: #000
}
H4 {
	FONT-WEIGHT: bold; COLOR: #000
}
H5 {
	FONT-WEIGHT: bold; COLOR: #000
}
H6 {
	FONT-WEIGHT: bold; COLOR: #000
}
TH {
	FONT-WEIGHT: bold; COLOR: #000
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #999
}
#sideBar {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #999 0px solid; PADDING-LEFT: 12px; FLOAT: left; PADDING-BOTTOM: 40px; OVERFLOW: hidden; BORDER-LEFT: #999 1px solid; WIDTH: 220px; PADDING-TOP: 0px; BORDER-BOTTOM: #999 1px solid
}
#mainContent {
	FLOAT: right; MARGIN-LEFT: -250px; WIDTH: 100%
}
.forFlow {
	MARGIN: 0px 16px 0px 266px
}
#footer {
	TEXT-ALIGN: center
}
#lnkBlogLogo {
	DISPLAY: none
}
#blogTitle {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; PADDING-BOTTOM: 16px; PADDING-TOP: 16px
}
#blogTitle H1 {
	FONT-SIZE: 17pt
}
#blogTitle H2 {
	FONT-SIZE: 10.5pt; COLOR: #999
}
#navigator {
	BORDER-RIGHT: #ccc 0px solid; PADDING-RIGHT: 6px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 6px; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 6px; BORDER-LEFT: #ccc 0px solid; COLOR: #999; PADDING-TOP: 6px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 17px
}
#navigator IMG {
	DISPLAY: none
}
.blogStats {
	FLOAT: right; COLOR: #999
}
#navList LI {
	FONT-SIZE: 10.5pt; FLOAT: left; MARGIN-RIGHT: 20px
}
#sideBar LI {
	MARGIN-LEFT: 1.5em; TEXT-INDENT: -1.5em
}
.divRecentCommentAticle {
	MARGIN-LEFT: 1.5em; TEXT-INDENT: -1.5em
}
#sideBar H3 {
	FONT-SIZE: 14px; MARGIN: 16px 0px 0px -8px; TEXT-ALIGN: left
}
#MyIng .ing_title {
	FONT-SIZE: 14px; MARGIN: 16px 0px 0px -8px; TEXT-ALIGN: left
}
#calendar {
	MARGIN-TOP: 16px; TEXT-ALIGN: center
}
#calendar TABLE {
	MARGIN: 0px auto; WIDTH: 90%
}
#calendar .CalOtherMonthDay {
	COLOR: #999
}
#sideBar .divRecentComment {
	MARGIN: 0px 0px 8px 8px; COLOR: #666
}
.ing_title A:link {
	FONT-WEIGHT: bold
}
.ing_title A:visited {
	FONT-WEIGHT: bold
}
.ing_title A:hover {
	FONT-WEIGHT: bold
}
.ing_title A:active {
	FONT-WEIGHT: bold
}
.dayTitle {
	DISPLAY: none
}
.entrylistTitle {
	MARGIN-TOP: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; TEXT-ALIGN: left
}
.thumbTitle {
	MARGIN-TOP: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; TEXT-ALIGN: left
}
.PostListTitle {
	MARGIN-TOP: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; TEXT-ALIGN: left
}
.forFlow H3 DIV {
	MARGIN-TOP: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; TEXT-ALIGN: left
}
.galleryTitle {
	MARGIN-TOP: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; TEXT-ALIGN: left
}
.entrylistDescription {
	MARGIN-LEFT: 16px
}
.thumbDescription {
	MARGIN-LEFT: 16px
}
.postTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 20px 0px 10px; BORDER-BOTTOM: #ddd 1px solid
}
.entrylistPosttitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 20px 0px 10px; BORDER-BOTTOM: #ddd 1px solid
}
.feedback_area_title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 20px 0px 10px; BORDER-BOTTOM: #ddd 1px solid
}
.postBody P {
	MARGIN-TOP: 12px
}
.postCon A {
	COLOR: #000; BORDER-BOTTOM: #333 1px dotted
}
.postBody A {
	COLOR: #000; BORDER-BOTTOM: #333 1px dotted
}
.feedbackCon A {
	COLOR: #000; BORDER-BOTTOM: #333 1px dotted
}
.postCon A:hover {
	BORDER-LEFT-COLOR: #999; BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BORDER-RIGHT-COLOR: #999
}
.postBody A:hover {
	BORDER-LEFT-COLOR: #999; BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BORDER-RIGHT-COLOR: #999
}
.feedbackCon A:hover {
	BORDER-LEFT-COLOR: #999; BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BORDER-RIGHT-COLOR: #999
}
.postDesc {
	PADDING-BOTTOM: 20px; COLOR: #999; BORDER-BOTTOM: #999 1px dotted; TEXT-ALIGN: right
}
.entrylistItemPostDesc {
	PADDING-BOTTOM: 20px; COLOR: #999; BORDER-BOTTOM: #999 1px dotted; TEXT-ALIGN: right
}
.PostList {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 6px; MARGIN: auto; OVERFLOW: hidden; WIDTH: 96%; PADDING-TOP: 6px; BORDER-BOTTOM: #ccc 1px dotted; TEXT-ALIGN: right
}
.postTitl2 {
	FLOAT: left
}
.postText2 {
	COLOR: #666; TEXT-ALIGN: left
}
.feedbackItem {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; BORDER-BOTTOM: #ccc 1px dotted
}
.feedbackManage {
	FLOAT: right
}
.feedbackCon {
	MARGIN-LEFT: 1em; COLOR: #666
}
.commentform TD DIV SPAN {
	MARGIN-LEFT: 12px
}
.gallery IMG {
	MARGIN: 8px
}
#taglist {
	MARGIN: 20px auto
}
.pfl_feedback_area_title {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 16px 0px
}
.pfl_feedback_area_title A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #999
}
.pfl_feedbacksubtitle {
	HEIGHT: 30px
}
.pfl_feedbackname {
	FLOAT: left; MARGIN: 10px 20px 0px 0px
}
.pfl_feedbackManage {
	FLOAT: left; MARGIN: 10px 20px 0px 0px
}
.pfl_feedbackCon {
	CLEAR: both; MARGIN-LEFT: 12px
}
.pfl_feedbackAnswer {
	CLEAR: both; MARGIN-LEFT: 12px
}
