<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>        
        <compilation debug="true" />
        <authentication mode="Windows" />
<pages>
  <controls>
    <add assembly="RenderHello" namespace="RenderHello" tagPrefix="sc"/>
  </controls>
</pages>
    </system.web>
</configuration>
