<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
      <httpHandlers>
        <add verb="*" path="*.jpg" type="ImageHandler"/>
      </httpHandlers>
        <compilation debug="true" />
        <authentication mode="Windows" />
    </system.web>
</configuration>
