BODY
{    
	color: #000000;
	FONT-FAMILY:  "Verdana", "Arial", "Helvetica", "sans-serif";
	line-height: 125%;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;        
    font-size: 9pt;
	background-color:White;
    font-size:9pt;
    text-align:center; 
    height:100%;
}

A.sort
{
    FONT-SIZE: 10.2pt;
    COLOR: white;
    TEXT-DECORATION: none
}

A:link
{
	font-size: 9pt;
	color: #006699;
	line-height: 15pt;
	font-family: 宋体;
	text-decoration: underline;
}

A:visited
{
    FONT-SIZE: 9pt;
    COLOR: #006699;
    LINE-HEIGHT: 15pt;
    FONT-FAMILY: 宋体;
    TEXT-DECORATION: underline;
}

A:active
{
    FONT-SIZE: 9pt;
    COLOR: #ff0000;
    LINE-HEIGHT: 15pt;
    FONT-FAMILY: 宋体;
    TEXT-DECORATION: none;
}

A:hover
{
    FONT-SIZE: 9pt;
    COLOR: #ff0000;
    LINE-HEIGHT: 15pt;
    FONT-FAMILY: 宋体;
    TEXT-DECORATION: none;
}

A.Linkword:link
{
   
    COLOR: blue;
    LINE-HEIGHT: 15pt;
    FONT-FAMILY: 宋体;
    TEXT-DECORATION: underline
}

A.Linkword:visited
{
  
    COLOR: blue;
    LINE-HEIGHT: 15pt;
    FONT-FAMILY: 宋体;
    TEXT-DECORATION: none
}
.a1
{
	BACKGROUND-IMAGE:url('../images/title.gif');
	COLOR:#000000;
	cursor:pointer;
}
.a2{BACKGROUND-COLOR: #C6C3C6;}
.a3{BACKGROUND-COLOR: #FFFFFF;}
.a4{BACKGROUND-COLOR: #EFEFEF;}
TABLE
{
	FONT-SIZE: 12px;
	border-color:White;
	border-bottom-color:White;
	border-left-color:White;
	border-right-color:White;
	border-top-color:White;
	font-family: "宋体";
}

TR
{
    FONT-SIZE: 9pt
}

TD
{
    FONT-SIZE: 9pt    
}

BUTTON.button
{
    FONT-SIZE: 9pt;
    HEIGHT: 20px;
    border-style:outset;
    border-width:thick;
}

INPUT
{
    FONT-SIZE: 9pt;
    border-style:groove;
    border-width:thin
}

FORM
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}

SELECT
{
    FONT-SIZE: 9pt
}

TEXTAREA
{
    FONT-SIZE: 9pt
}

.ArticleContent
{
	FONT-SIZE: 9pt; line-height:200%
}

.white 
{  
	font-family: "宋体"; 
	font-size: 9pt; 
	line-height: 15pt; 
	color: #FFFFFF; 
	text-decoration: none			
}

.black9 
{  
	font-family: "宋体"; 
	font-size: 9pt; 
	line-height: 15pt; 
	color: #000000; 
	text-decoration: none	
}

.gray9 
{  
	font-family: "宋体"; 
	font-size: 9pt; 
	line-height: 15pt; 
	color: gray; 
	text-decoration: none
}

.black10 
{  
	font-family: "宋体"; 
	font-size: 10.5pt; 
	line-height: 15pt; 
	color: #000000; 
	text-decoration: none
}

.caption {
	font-family: verdana, geneva, helvetica, arial, sans-serif; 
	font-size: 11px; 
	font-weight: bold;
	color: #cc6600;
}

.orangehead 
{
	font-family:宋体;
	font-size:12pt;
	font-weight:bold;
	line-height:20pt;
	color: #cc6600;
}

a.blacknone {
	text-decoration: none;  
	color: #000000;
}

a.bluenone:link {
	text-decoration: none;
	color: #0014A0;
}

a.bluenone:visited {
	text-decoration: none;
	color: #0014A0;
}

a.purplenone:link {
	text-decoration: none;
	color: #840084;
}

a.purplenone:visited {
	text-decoration: none;
	color: #840084;
}

a.whitenone {
	text-decoration: none;  
	color: #ffffff;
}

a.grey6none {
	text-decoration: none;
	color: #666666;
}

a.grey9none {
	text-decoration: none;
	color: #999999;
}

a.orangenone {
	text-decoration: none;
	color: #cc6600;
}

A.orangenone:visited
{
	text-decoration: none;
	color: #cc6600;
}

a.orangenone_buynow {
	text-decoration: none;
	color: #cc6600;
}

a.orangeline {
	color: #cc6600;
}

a.blue { font-size: 9pt; color: #4583D2; text-decoration: none; line-height: 25px} 
a.blue:link{ font-size: 9pt; color: #4583D2; text-decoration: none; line-height: 25px} 
a.blue:hover{ font-size: 9pt; color: #4583D2; text-decoration: none; line-height: 25px}
a.blue:visited{ font-size: 9pt; color: #4583D2; text-decoration: none; line-height: 25px}

input.textfeild 
{ 
	font-size: 9pt; 
	border: #CCCCCC; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px
}

TEXTAREA.textfeild 
{ 
	font-size: 9pt; 
	border: #CCCCCC; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
}


.TipMsgDiv {
/*提示信息Div块样式*/
	BORDER-RIGHT:#455690 1px solid; 
	BORDER-TOP:#a6b4cf 1px solid; 
	Z-INDEX:99999; 
	LEFT:0px; 
	VISIBILITY:hidden; 
	BORDER-LEFT:#a6b4cf 1px solid;
	WIDTH:180px; 
	BORDER-BOTTOM:#455690 1px solid; 
	POSITION:absolute;
	TOP:0px;
	HEIGHT:116px;
	BACKGROUND-COLOR:#c9d3f3;
}

.TipMsgTbl {
/*提示信息Table样式*/
 BORDER-TOP:#ffffff 1px solid;
 BORDER-LEFT:#ffffff 1px solid;
 }
.TipMsgTopTd {
/*提示信息上面一行Td样式*/
 BACKGROUND-IMAGE:url(../images/TipMsgTopBg.gif);
 PADDING-RIGHT:1px;
 PADDING-BOTTOM:1px;
 font-size:9pt;
 }

.TipMsgBottomTd {
/*提示信息Td样式*/
 BACKGROUND-IMAGE:url(../images/TipMsgBottomBg.jpg);
 PADDING-RIGHT:1px;
 PADDING-BOTTOM:1px;
 }

.TipMsgInfDiv {
/*提示信息内容Div块样式*/
BORDER-RIGHT: #b9c9ef 1px solid;
PADDING-RIGHT: 13px;
BORDER-TOP: #728eb8 1px solid;
PADDING-LEFT: 13px;
FONT-SIZE: 9pt;
PADDING-BOTTOM: 13px;
BORDER-LEFT: #728eb8 1px solid;
WIDTH: 100%;
HEIGHT: 100%;
COLOR: #1f336b;
PADDING-TOP: 18px;
BORDER-BOTTOM: #b9c9ef 1px solid;
}

.EG_HeaderCSS{
/*DataGrid页眉*/
	background-color: RGB(119,169,201);
	font-size: 9pt;
	font-family:宋体;
	color:Black;
	font-weight: bold;
	height:15px;
}

.EG_ItemCSS{
/*DataGrid奇数行*/
	background-color: RGB(255,255,255);
	height:15px;
	font-size:9pt;
	color:#000000;
}

.EG_AlternatingItemCSS{
/*DataGrid偶数行*/
	background-color: #F3F3F3;
	height:15px;
	font-size:9pt;
	color:#000000;
}

.EG_FooterCSS{
/*DataGrid最后一行*/
	background-color: #990000;
	font-weight: bold;
	color: white;
	height:20px;
	font-size:9pt;
}
input,textarea{
	background-color: #ffffff;
	color: #666666; 
	font-family: tahoma; 
	font-size: 12px; 
	border:solid 1px #666666; 
}
.GridAltItem
{
    background-color: #e7e9ed;
}
.GridSelectedItem
{
    background-color:#FF6633;
}
.GridItem
{
	font-size: 9pt;
	color: #000000;
    background-color: #ffffff;
    font-family:宋体;
}
.GridHeader
{
    font-weight: bold;
    font-size: 9pt;
    color: #ffffff;
    background-color: #006699;
    font-family:宋体;
    text-align: center;
    padding: 4px 4px 4px 4px;
    border-collapse:collapse; 
    border-width:1px;
}
.Button
{
	font-size: 9pt;
	color: black;
	font-family:宋体;
}
.PageTitle
{
	font-weight: bold;
	font-size: 11pt;
	color: #004080;
	font-family:宋体;
}
.PageTitle1

{
	font-weight: bold;
	font-size: 11pt;
	color:Yellow;
	font-family:宋体;
}
.PageTitle3
{	
	font-weight: bold;
	font-size: 10pt;
	color: #ffffff;
	font-family:宋体;
}
.InfoHeader
{
	font-weight: bold;
	font-size: 10pt;
	color: #ffffff;
	background-color: #004080;
	font-family:宋体;
}
.ErrorMsg
{
	font-size: 9pt;
	color:red;
	font-family:宋体;	
}
.ErrorBlueT
{
	font-size: 9pt;
	color:#004080;
	font-family:宋体;	
}
.ErrorMsgBg
{
	font-size: 9pt;
	color:red;
	font-family:宋体;
	font-weight: bold;
}
.MenuWhite
{
	font-size: 9pt;
	color:White;
	font-family:宋体;
	font-weight: bold;
}

.colorfocus {
	border: 1px #0099CC double;
	background-color: #FFFF99;
	padding:1px 1px 1px 1px;
}
.colorblur {
	border: 1px #000000 double;
	background-color: #ffffff;
}
.btn1 {
	border-right: #7b9ebd 1px solid; padding-right: 2px; border-top: #7b9ebd 1px solid; padding-left: 2px; font-size: 12px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#cecfde); border-left: #7b9ebd 1px solid; cursor: hand; color: black; padding-top: 2px; border-bottom: #7b9ebd 1px solid; width:70;
}
.btn2 {
	border-right: #7ebf4f 1px solid; padding-right: 2px; border-top: #7ebf4f 1px solid; padding-left: 2px; font-size: 12px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#cae4b6); border-left: #7ebf4f 1px solid; cursor: hand; color: black; padding-top: 2px; border-bottom: #7ebf4f 1px solid; width:70;
}
.btn3 {
	border-right: #2c59aa 1px solid; padding-right: 2px; border-top: #2c59aa 1px solid; padding-left: 2px; font-size: 12px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#d7e7fa); border-left: #2c59aa 1px solid; cursor: hand; color: black; padding-top: 2px; border-bottom: #2c59aa 1px solid; width:70;
}
.btn4 {
	border-right: #002d96 1px solid; padding-right: 2px; border-top: #002d96 1px solid; padding-left: 2px; font-size: 12px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#9dbcea); border-left: #002d96 1px solid; cursor: hand; color: black; padding-top: 2px; border-bottom: #002d96 1px solid; width:70;
}
.btn5 {
	border-top-width: 1px; padding-right: 4px; padding-left: 4px; border-left-width: 1px; font-size: 12px; border-bottom-width: 1px; padding-bottom: 0px; padding-top: 2px; height: 23px; width:70; background-color: #ece9d8; border-right-width: 1px
}
.input22 {
	border-right: #002d96 1px solid; border-left: #002d96 1px solid; border-top: #002d96 1px solid; border-bottom: #002d96 1px solid; font-size: 12px;
}