<?xml version="1.0" encoding="gb2312"?>
<configuration>
	<system.web>

		<compilation defaultLanguage="C#" debug="false"/>
		
		<!--如果为.net SDK 1.0及以前版本，请删除下边一行-->
		<pages validateRequest="false" />

		<customErrors defaultRedirect="error.htm" mode="Off" /> 

		<globalization fileEncoding="gb2312" requestEncoding="gb2312" responseEncoding="gb2312" />
		
		<httpRuntime maxRequestLength="2048" />
		
	</system.web>

</configuration>