<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
      <forms loginUrl="Login.aspx" 
           protection="All" 
           timeout="30" 
           name="AppNameCookie" 
           path="/FormsAuth" 
           requireSSL="false" 
           slidingExpiration="true" 
           defaultUrl="default.aspx"
           cookieless="UseCookies"
           enableCrossAppRedirects="false"/>
<!--loginUrl 指向登录页面，你需要把它放在支持SSL的目录下
Protection 设置成"All"表示为认证凭据同时启用数据来源验证和加密
Timeout 指定了认证的生存时间
name and path are set to unique values for the current application.
requireSSL 设置成"false"表示关闭cookie的SSL加密
slidingExpiration 如果设置成"true"的话，每次访问过期时间将会重置
defaultUrl 就是设置程序的首页
cookieless 设置成"UseCookies"表示使用cookie来传递认证票据
enableCrossAppRedirects 设置成"false"表示程序不接受外部的请求-->
    </authentication>
    <authorization>
      <deny users ="?"/>
      <allow users="*"/><!--表明只有登录过的用户才能进入程序否则会被转到前面loginUrl设置的页面-->
    </authorization>
	</system.web>
</configuration>
