<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
      <httpHandlers>
        <add path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true" />
        <add verb="*" path="*" type="ImageHandler"/>        
      </httpHandlers>
        <compilation debug="true" />
        <authentication mode="Windows" />
    </system.web>
</configuration>
