<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="RegexUrlMappings" type="Cnblogs.DTC.THIN.RegexUrlMapping.RegexUrlMappingsSection,Cnblogs.DTC.THIN.RegexUrlMapping"/>
	</configSections>
	<RegexUrlMappings enabled="true" rebaseClientPath="true">
		<add url="(\d+)$" mappedUrl="default.aspx?id=$1"/>
		<add url="(?&lt;=/)(?&lt;id&gt;[a-z]+)$" mappedUrl="default.aspx?id=${id}" />
		<add url="/$" mappedUrl="/default.aspx?id=0"/>
	</RegexUrlMappings>
	<system.web>
		<httpModules>
			<add name="RegexUrlMappingModule" type="Cnblogs.DTC.THIN.RegexUrlMapping.RegexUrlMappingModule,Cnblogs.DTC.THIN.RegexUrlMapping"/>
		</httpModules>
		<compilation debug="true"/>
		<authentication mode="Windows"/>
	</system.web>
</configuration>
