<?xml version="1.0"?>
<configuration>
	<system.web>
		<urlMappings>
			<add url="~/2006" mappedUrl="~/YearView.aspx?year=2006"/>
			<add url="~/2006/01" mappedUrl="~/MonthView.aspx?year=2006&amp;month=01"/>
			<add url="~/2006/02" mappedUrl="~/MonthView.aspx?year=2006&amp;month=02"/>
      <add url="~/2006/03" mappedUrl="~/MonthView.aspx?year=2006&amp;month=03"/>
      <add url="~/2006/04" mappedUrl="~/MonthView.aspx?year=2006&amp;month=04"/>
      <add url="~/2006/05" mappedUrl="~/MonthView.aspx?year=2006&amp;month=05"/>
      <add url="~/2006/06" mappedUrl="~/MonthView.aspx?year=2006&amp;month=06"/>
      <add url="~/2006/07" mappedUrl="~/MonthView.aspx?year=2006&amp;month=07"/>
      <add url="~/2006/08" mappedUrl="~/MonthView.aspx?year=2006&amp;month=08"/>
      <add url="~/2006/09" mappedUrl="~/MonthView.aspx?year=2006&amp;month=09"/>
      <add url="~/2006/10" mappedUrl="~/MonthView.aspx?year=2006&amp;month=10"/>
      <add url="~/2006/11" mappedUrl="~/MonthView.aspx?year=2006&amp;month=11"/>
      <add url="~/2006/12" mappedUrl="~/MonthView.aspx?year=2006&amp;month=12"/>
      <add url="~/2005" mappedUrl="~/YearView.aspx?year=2005"/>
			<add url="~/2005/01" mappedUrl="~/MonthView.aspx?year=2005&amp;month=01"/>
			<add url="~/2005/02" mappedUrl="~/MonthView.aspx?year=2005&amp;month=02"/>
      <add url="~/2005/03" mappedUrl="~/MonthView.aspx?year=2005&amp;month=03"/>
      <add url="~/2005/04" mappedUrl="~/MonthView.aspx?year=2005&amp;month=04"/>
      <add url="~/2005/05" mappedUrl="~/MonthView.aspx?year=2005&amp;month=05"/>
      <add url="~/2005/06" mappedUrl="~/MonthView.aspx?year=2005&amp;month=06"/>
      <add url="~/2005/07" mappedUrl="~/MonthView.aspx?year=2005&amp;month=07"/>
      <add url="~/2005/08" mappedUrl="~/MonthView.aspx?year=2005&amp;month=08"/>
      <add url="~/2005/09" mappedUrl="~/MonthView.aspx?year=2005&amp;month=09"/>
      <add url="~/2005/10" mappedUrl="~/MonthView.aspx?year=2005&amp;month=10"/>
      <add url="~/2005/11" mappedUrl="~/MonthView.aspx?year=2005&amp;month=11"/>
      <add url="~/2005/12" mappedUrl="~/MonthView.aspx?year=2005&amp;month=12"/>
    </urlMappings>
		<compilation debug="true"/>
  </system.web>
</configuration>
