<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <system.web>
    <compilation debug="true"/>
    <httpModules>
      <add name="CorrectCookieDomainModule" type="CustomComponents.CorrectCookieDomainModule"/>
    </httpModules>
    <authentication mode="Windows"/>
  </system.web>
</configuration>

