h2 {
	color: rgb(170, 170, 170); padding-top: 5px; padding-bottom: 5px; font-family: "Microsoft YaHei" , "ו" , "Segoe UI" , "verdana" , "arial"; font-size: 1.8em; font-style: normal; background-color: rgb(239, 239, 239);
}
